{% extends 'base.html' %}

{% block content %}
  <h1>Liste des commandes en cours</h1>
  {% if commandes %}
    <table class="table">
      <thead>
        <tr>
          <th>Numéro de boîte</th>
          <th>Dentiste</th>
          <th>Date de fin</th>
          <th>Processus</th>
          <th>Priorité</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for commande in commandes %}
          <tr>
            <td>{{ commande['num_boite'] }}</td>
            <td>{{ commande['nom_dentiste'] }}</td>
            <td>{{ commande['date_fin'] }}</td>
            <td>{{ commande['processus'] }}</td>
            <td>{{ commande['priorite'] }}</td>
            <td>
              <form action="{{ url_for('delete_commande', commande_id=loop.index0) }}" method="post">
                <input type="hidden" name="commande_id" value="{{ loop.index0 }}">
                <input type="submit" value="Supprimer">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucune commande à supprimer</p>
  {% endif %}
{% endblock %}