{% extends "base.html" %}

{% block content %}
    <h1>Statut des variables enregistrées</h1>
    <table>
        <thead>
            <tr>
                <th>Variable</th>
                <th>Contenu</th>
            </tr>
        </thead>
        <tbody>

            {% for key, value in variables.config.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}

            {% for key, value in variables.dependencies.items() %}
            <tr>
                <td>Process {{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}


            {% for commande in variables.liste %}
            <tr>
                <td>Commande {{ loop.index0 }}</td>
                <td>{{ commande }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
